div.head{
    margin: 100px 10%;
    mat-card{
        margin-top: 10px;
        .pesanan{
            color: #4c312c;
        }
        .jual {
            display: inline;
            text-align: center;
            
            mat-card-subtitle {
                margin-bottom: 5px;
                color: #4c312c;
                display: inline-block;
                
            }
            .col-6{
                width: 60%;
                display: inline-block;
    
            }
            .col-4 {
                width: 40%;
                display: inline-block;
    
            }
    
        }
        p {
            margin-left: 2%;
        }
        .pesanan {
            margin-left: 2%;
        }
    }
    
}
  
    .filter{
        position: fixed;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 3%;
        text-align: center;
        border-top: 2px solid #4a312b;
        button{
            margin: auto 10px;
        }
    } 
