table {
    width: 100%;
  }
  
  button {
    margin: 0px 30px;
    margin-bottom: 5px;
    float: right
  }
// ::ng-deep .menuOverlay{
//   position: absolute;
//   top: 10%;
//   left: 50%;
// }
.start{
  margin-top: 120px;;
}