.login {
    box-shadow: 0 0 0;
    // height: 50%;
    // display: flex;
    // mat-card-header {
    //     flex: 100%;
    //     justify-content: center;
    //     align-items: center;  
    // }
    // mat-card-content{
    //     flex: 80;
    // }
    // mat-card-actions{
    //     flex: 80;

    // }
    text-align: center;
    position: absolute;
    margin-left: 3px ;
    margin-right: 3px ;
    left: 0;
    right: 0;
    top: 20%;
    mat-card-header{
        mat-card-title {
            font-size: 50px;
        }
    }
        
   
    // mat-card-actions{
    //     //     flex: 80;
    //     justify-content: center;
    //     align-items: center;
    //     display: flex;
    
    //     }
    mat-card-header{
        display: block
   
    //     //     flex: 80;
    //     justify-content: center;
    //     align-items: center;
    //     display: flex;
    
        }

}

.btn {
    position: absolute;
    bottom: 12%;
    width:100%;
    left:0;
    button {
      width: 200px;
      border-radius: 30px;
    }
    
}
.content{
    position: absolute;
        bottom: 6%;
        left: 0;
        width: 100%;
        p {
            font-size: 10px;
            text-align: center;
            font-family: sans-serif;
        }
}
.start{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index:40;
    background: white;
}