// mat-toolbar {
//     button {
//         outline: none;
//         flex: 1 1 auto;
//         text-align: center;
//         mat-icon{
//             font-size: 20px;
//         }
//     }
// }
// .mat-toolbar-row, .mat-toolbar-single-row {
//      height: 45px;
// }
// .mat-toolbar.mat-primary {
//     color: rgb(185, 193, 230);
//     background: white;
// }
// .mat-toolbar.mat-primary :focus {
//     color: rgb(98, 71, 49);
//     background: white;
// }

// .mat-tab-label-container {
// padding: 20px}

#menu{
      justify-content: center;
      align-items: center;
      background: white;
      div{
        width: 80% !important;
    }
  }
  mat-tab-group{
    height: 90%;
  }
  mat-tab{
    height: 100%;

  }
.mat-elevation-z4{
    box-shadow: none;
}
.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  display: none;
}
a {
  text-decoration: none;
}
a:focus, a:hover, .mat-tab-link.mat-tab-label-active {
  color: rgb(95, 21, 21);
  opacity: 1;
}
