/* You can add global styles to this file, and also import other style files */
// @import @angular/material/prebuilt-themes/deeppurple-amber.css;
// below defines your custom color to build a theme palette from
@import '~@angular/material/theming';
@include mat-core();
@import '~saturn-datepicker/theming';
$mat-myapp-primary : (
  50 : #eae7e6,
    100 : #cac2c0,
    200 : #88321e,
    300 : #84716d,
    400 : #69524d,
    500 : #4f342e,
    600 : #482f29,
    700 : #3f2723,
    800 : #36211d,
    900 : #261512,
    A100 : #ff7b68,
    A200 : #ff4e35,
    A400 : #ff2102,
    A700 : #e71d00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



$mat-myapp-accent: (
  50 : #efeceb,
  100 : #d8cfcd,
  200 : #beafab,
  300 : #a38e89,
  400 : #907670,
  500 : #7c5e57,
  600 : #74564f,
  700 : #694c46,
  800 : #5f423c,
  900 : #4c312c,
  A100 : #ffa998,
  A200 : #ff7e65,
  A400 : #ff5332,
  A700 : #ff3e19,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);
$my-app-primary: mat-palette($mat-myapp-primary);
$my-app-accent:  mat-palette($mat-myapp-accent);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
@include angular-material-theme($my-app-theme);
@include sat-datepicker-theme($my-app-theme);


// body {
//     margin: 0;
//     padding: 0;
//   }
  
html, body { 
  height: 100%;
  margin: 0; 
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  margin: 0;
  padding: 0;
}
.timepicker-overlay {
  z-index: 1100 !important;
  user-select: none;
  span {
    color: #4f1c11;
  }
  header.timepicker__header {
    background-color: #4f1c11 !important;
  }
  input.timepicker-dial__control:focus {
    outline: none;
  } 
  div.clock-face__number {
    --clock-hand-color : #4f1c11;
  }
  span.clock-face__clock-hand {
    background-color: #4f1c11 !important;
  }
  
}
.timepicker-backdrop-overlay {
  z-index: 1100 !important;
}

